---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import selfportrait from "../images/img_me.webp";
import toolbox from "../images/toolbox.svg";
---

<MainLayout title="Sofie Andersson">
  <section class="">
    <div class="lg:fixed inset-y-0 left-10 pt-2" id="img">
      <h1
        class="text-7xl font-oswald text-white font-semibold z-40 absolute left-9 top-10 lg:text-header"
      >
        So<span class="lg:text-black">fie Anderss</span>on
      </h1>
      <Image
        class="lg:w-9/12"
        src={selfportrait}
        alt="Selvportræt af Sofie Andersson"
      />
      <div class="grid grid-cols-3 pb-6 lg:pr-20 lg:pb-0">
        <div class="flex flex-row hover:underline">
          <Link
            class=""
            href="https://www.linkedin.com/in/sofie-andersson-715454233/"
            >Linkedin</Link
          >
        </div>
        <div class="flex flex-row hover:underline">
          <Link
            class="font-semibold text-white"
            href="mailto:sofiesofieandersson@gmail.com">E-mail</Link
          >
        </div>
        <div class="flex flex-row">
          <p class="tlf font-semibold text-white hover:cursor-pointer">
            <span>Telefonnr.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="pr-6 lg:pr-0" id="text">
      <div class="bg-gron rounded-lg py-7 px-10 mb-8">
        <h2 class="font-oswald text-4xl font-semibold pb-4">Kort om mig</h2>
        <p class="text-base leading-8 pb-4">
          Mit navn er Sofie, jeg er 25 år og bosat på Nørrebro. Til daglig
          studerer jeg Multimediedesign på KEA. Jeg er engageret og dedikeret
          efter at skabe bæredygtige digitale designs der bidrager til en god
          brugeroplevelse og som er brugervenligt. Om jeg arbejder selvstændigt
          eller i en gruppe, tilpasser jeg mig nemt og er altid klar på nye
          udfordringer.
        </p>
        <p class="text-base leading-8">
          Jeg har interesse for<span class="interesser font-semibold"></span>
        </p>
      </div>

      <div class="bg-gron rounded-lg py-7 px-10 mb-8">
        <h2 class="font-oswald text-4xl font-semibold pb-8">Projekter</h2>
        <div class="">
          <h3 class="font-oswald text-2xl font-semibold pb-4">
            #SingleUseSucks - 2024
          </h3>
          <p class="text-base leading-8 pb-4">
            Dette projekt gik ud på at lave en kampagneløsning for Plastic
            Change i form af scrollytelling, som skulle skabe opmærksomhed på
            problemet med engangsplast og få brugerne til at konvertere.
          </p>
          <p class="text-base leading-8 pb-4">
            Jeg har til dette projekt bidraget til udviklingen af designet,
            prototyping, lavet datavisualisering og kodning af scrollytelling.
          </p>
          <div class="py-7">
            <video autoplay loop muted id="desktopVideo">
              <source
                src="https://saaa.dk/kea/singleusesucks.mp4"
                class="absolute w-full h-full object-cover"
                type=""
              />
            </video>
          </div>
        </div>
        <div class="">
          <div>
            <h3 class="font-oswald text-2xl font-semibold pb-4">
              I Tråd Med Verden - 2024
            </h3>
            <p class="text-base leading-8 pb-4">
              Dette projekt handlede om at udvikle en webfeature og indhold til
              sociale medier for I Tråd Med Verden. Opgaven var at skabe og øge
              engagement og konvertering af private donerer og/eller
              virksomheder.
            </p>
            <p class="text-base leading-8">
              I dette projekt bidrog jeg til kodning af webfeaturen, produktion
              af hero video, udformning af ikoner i Illustrator, prototyping,
              samt udvikling af designet for webfeaturen.
            </p>
          </div>
          <div class="py-7">
            <video autoplay loop muted id="desktopVideo">
              <source
                src="https://saaa.dk/kea/itmv_video.mp4"
                class="absolute w-full h-full object-cover"
                type=""
              />
            </video>
          </div>
        </div>
        <div class="">
          <h3 class="font-oswald text-2xl font-semibold pb-4">
            Eksamensprojekt - 2024
          </h3>
          <p class="text-base leading-8 pb-4">
            I dette projekt lavede vi et redesign for pladetrykkeriet RPM
            Records. Vores formål med redesignet var at optimere salget hos RPM
            Records, samt at hjælpe med at skabe en stærkere brand-identitet.
          </p>
          <p class="text-base leading-8 pb-4">
            Jeg har til dette projekt udviklet designet for vores redesign,
            produceret hero video, prototyping og lavet illustrationer i
            Illustrator.
          </p>
          <div class="py-7">
            <video autoplay loop muted id="desktopVideo">
              <source
                src="https://saaa.dk/kea/rpm.mp4"
                class="absolute w-full h-full object-cover"
                type=""
              />
            </video>
          </div>
        </div>
        <div class="">
          <h3 class="font-oswald text-2xl font-semibold pb-4">
            Animation - 2023
          </h3>
          <p class="text-base leading-8 pb-4">
            Til dette projekt skulle vi udvikle vores eget spil. Her fandt vi på
            vores egen idé til vores spil, lavede alt grafikken til spillet og
            kodede det.
          </p>
          <p class="text-base leading-8 pb-4">
            Jeg har til dette projekt brugt Adobe Illustrator til at lave
            grafikken i spillet, f.eks. baggrunde, spilelementer, karakter m.m.
            Til at kode spillet har jeg brugt CSS og Javascript i VS Code.
          </p>
          <div class="py-7">
            <video autoplay loop muted id="desktopVideo">
              <source
                src="https://saaa.dk/kea/spil_video.mp4"
                class="absolute w-full h-full object-cover"
                type=""
              />
            </video>
          </div>
        </div>
      </div>
      <div class="bg-gron rounded-lg py-7 px-10 mb-8">
        <h2 class="font-oswald text-4xl font-semibold pb-4">
          Min værktøjskasse
        </h2>
        <div class="px-4 lg:grid grid-cols-2">
          <div class="flex flex-row">
            <ul class="text-base font-mont leading-8 pb-4 list-disc">
              <li>Figma</li>
              <li>Adobe Illustrator</li>
              <li>Adobe Photoshop</li>
              <li>VS Code</li>
            </ul>
          </div>
          <div class="flex flex-row">
            <Image
              class="w-9/12 lg:pl-6 lg:pb-12"
              src={toolbox}
              alt="Tegning af en værktøjskasse"
            />
          </div>
        </div>
      </div>
      <div class="bg-gron rounded-lg py-7 px-10 mb-8">
        <h2 class="font-oswald text-4xl font-semibold pb-4">
          Jeg vil gerne arbejde med...
        </h2>
        <p class="text-base leading-8">
          Jeg er åben for alt, der involverer multimediedesign, men jeg er især
          interesseret i at arbejde med <span class="font-semibold"
            >UX/UI design, grafisk design og at være med i processen fra idé til
            færdigt produkt</span
          >. Det er områder, hvor jeg ønsker at udvikle mine kompetencer, så jeg
          på sigt kan mestre dem.
        </p>
      </div>
    </div>
  </section>
  <style>
    .interesser:before {
      content: "UX/UI";
      animation: animate infinite 8s;
      padding-left: 5px;
    }

    @keyframes animate {
      10% {
        content: "bæredygtigt design";
      }
      20% {
        content: "idéudvikling";
      }
      40% {
        content: "grafisk design";
      }
      60% {
        content: "Illustrator";
      }
      80% {
        content: "Figma";
      }
    }

    .tlf:hover span {
      display: none;
    }

    .tlf:hover:before {
      content: "+45 24 96 27 80";
      cursor: pointer;
    }
  </style>
</MainLayout>
